:root {
    @apply .font-sans .antialiased;
}

h1, h2, h3, h4, h5, h6 {
    @apply .leading-tight;
}

.content {

    @apply .max-w-3xl .font-serif .text-xl .leading-relaxed;

    & > * + * {
        @apply .mt-6;
    }

    & a {
        @apply .link;
    }

    & ul {
        @apply .list-disc .ml-8;
        & > li + li {
            @apply .mt-2;
        }
    }

    & blockquote {
        @apply .relative .py-2 .mx-4;
        @screen md {
            @apply .ml-32 .py-6;
        }
        @screen lg {
            @apply .ml-20 .-mr-20 .py-12;
        }
        quotes: '“', '”';
        &::before {
            content: '“';
            @apply .hidden .absolute .text-grey-300;
            @screen md {
                @apply .block;
                font-size: 300px;
                top: -70px;
                left: -130px;
            }
            @screen lg {
                font-size: 500px;
                top: -110px;
                left: -230px;
            }
        }
        & p {
            @apply .text-2xl .leading-relaxed .italic .mb-2;
            @screen md {
                @apply .text-3xl .mb-4;
            }
            @screen lg {
                @apply .text-4xl .mb-6;
            }
        }
        & cite {
            @apply .text-xl .text-grey-700 .not-italic;
            @screen lg {
                @apply .text-2xl;
            }
        }
    }

    & figure {
        @apply .relative;
        & figcaption {
            @apply .absolute .right-0 .bottom-0 .px-2 .py-1 .m-0 .text-sm .text-white .bg-black-75;
        }
    }

    & hr {
        @apply .block .h-1 .w-1/3 .my-12 .bg-grey-400 .rounded-full;
    }

}

a.author,
.categories-tags > a,
.pagination-links a {
    @apply .link;
}

header nav .menu-item {
    @apply .text-white;
    &:hover {
        @apply .text-green-600;
    }
}

input#mobile-menu-toggle:checked ~ div#mobile-menu {
    @apply .flex;
}

.posts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    @screen md {
        grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    }
}
