@responsive {
    /* .ar-2\/5 {
        @apply .relative;
        padding-top: 40%;
    }
    .ar-1\/2 {
        @apply .relative;
        padding-top: 50%;
    }
    .ar-16\/9 {
        @apply .relative;
        padding-top: 56.25%;
    }
    .ar-2\/3 {
        @apply .relative;
        padding-top: 66.6667%;
    } */
    .aspect-ratio-golden {
        @apply .relative;
        padding-top: 61.8%;
    }
    .aspect-ratio {
        @apply .absolute .top-0 .w-full .h-full;
    }
}

.link {
    @apply .text-red-600 .no-underline .border-b-2 .border-transparent;
    transition: all 200ms ease;
    &:hover {
        @apply .border-red-600;
    }
}

.transition-200 {
    transition: all 200ms ease;
}

.h-fill {
    height: calc(100vh - 50.5px);
}
