@responsive {
    .aspect-ratio-16\/9 {
        @apply .relative;
        padding-top: 56.25%;
    }
    .aspect-ratio-golden {
        @apply .relative;
        padding-top: 61.8%;
    }
    .aspect-ratio {
        @apply .absolute .top-0 .w-full .h-full;
    }
}

.link {
    @apply .text-red-600 .no-underline .border-b-2 .border-transparent;
    transition: all 200ms ease;
    &:hover {
        @apply .border-red-600;
    }
}

.transition-200 {
    transition: all 200ms ease;
}

.h-fill {
    height: calc(100vh - 45px);
}
