@responsive {
    .ar-2\/5 {
        @apply .relative;
        padding-top: 40%;
    }
    .ar-1\/2 {
        @apply .relative;
        padding-top: 50%;
    }
    .ar-16\/9 {
        @apply .relative;
        padding-top: 56.25%;
    }
    .ar-2\/3 {
        @apply .relative;
        padding-top: 66.6667%;
    }
    .ar-golden {
        @apply .relative;
        padding-top: 61.8%;
    }
    .ar {
        @apply .absolute .top-0 .w-full .h-full;
    }
}
