.wp-block-image {
    @apply .w-full .my-12;

    &:first-child {
        @apply .mt-0;
    }

    & img {
        @apply .w-full;
    }

    & .alignnone,
    & .aligncenter,
    & .alignleft,
    & .alignright {
        @apply .float-none .block .mx-auto;
    }
}

.wp-block-embed {
    @apply .w-full .my-12;

    &.wp-block-embed-facebook {
        width: min-content;
        @apply .mx-auto;
    }

    &.wp-embed-aspect-16-9 {
        @apply .aspect-ratio-16/9;
        & iframe {
            @apply .aspect-ratio;
        }
    }

    & iframe {
        @apply .w-full;
    }
}

.sr-only,
.screen-reader-text {
    @apply .absolute .w-px .h-px .p-0 .overflow-hidden .whitespace-no-wrap .border-none;
    clip: rect(0, 0, 0, 0);
}

.sr-only-focusable:active,
.screen-reader-text:active,
.sr-only-focusable:focus,
.screen-reader-text:focus {
    @apply .static .w-auto .h-auto .overflow-visible .whitespace-normal;
    clip: auto;
}
