APP_NAME="The Arts Abstract"
APP_KEY=

WP_ENV=development
WP_HOME=http://localhost
WP_SITEURL="${WP_HOME}/wp"
APP_URL="${WP_HOME}"

DB_NAME=theartsabstract
DB_USER=root
DB_PASSWORD=

AUTH_KEY=
SECURE_AUTH_KEY=
LOGGED_IN_KEY=
NONCE_KEY=
AUTH_SALT=
SECURE_AUTH_SALT=
LOGGED_IN_SALT=
NONCE_SALT=
