/node_modules
/public/build
/public/content/cache
/public/content/languages
/public/content/upgrade
/public/fonts-manifest.dev.json
/public/hot
/public/wp
/vendor
.env
*.log
*.sql
auth.json
wp-cli.local.yml
